@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'poppins',sans-serif;
    color: var(--primary-text-color);
}

/* Creating global variable */
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'roboto','sans-serif';
    font-size: 1.25rem;
    line-height: 1.8rem;
    color: var(--secondary-text-color);
}

a{
    text-decoration: none;
    display: inline-block;
}


/* utility classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    margin-inline: auto;   /*means dono side margin add kar dega automatically */
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;

}
.hover-links{
    color: var(--primary-text-color);

}

.hover-links:hover{
    color: var(--accent-color);
    transition: 0.3s ease-out;
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    /* x , y,blur,shadowcolor */
    transition: 0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    border-color: #1d69a3;
    font-weight: 700;
    transition: 0.2s ease-out;
}

.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}


/* top banner */
.top-banner{
    background-image: url(asset\ 32.png);
    background-color: #4fb3d4;
    background-size: 300px;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}



/* nav bar */
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}
.company-logo img{
    width: 200px;

}

ul{
    list-style: none;

}

.nav-links{
    flex-basis: 730px;  
    /* width of nav links will be 730 px */
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

/* Header Section */
header{
    padding: 50px var(--padding-inline-section);
    /* padding from top left and right */
}

.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 40vw;
}
.header-left{
    margin: 20px;
}
.header-right img{
    width: 600px;
}

.get-started-button{
    margin-top: 20px;
}
.header-left h1{
    white-space: nowrap;
}



/*Companies Section*/

.companies-header{
    text-align: center;
    margin-block: 30px;
    /* give top and bottom margin */
    color: var(--primary-text-color);
}

.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    height: 46px;
    
}

.features-header{
    padding: 80px var(--padding-inline-section) 0;
}


/* features section*/
.features-header{
    text-align: center;

}

.features-header h2{
   padding-bottom: 20px;
}